* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    background-color: #fafafa;

    color: #333;
}

.container {
    margin: 0 auto;
    padding: 0 50px;

}

header {
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 25px 65px;
    gap: 200px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    display: flex;
    color: #363b58;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 59px;
    width: 60px;
    object-fit: contain;
}

.logo span {
    font-size: 1.9375rem;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 100px;
    align-items: start;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5625rem;
    font-weight: 600;
}

nav a:hover{
    color: #F2994A;
    
}

.daftar {
    display: flex;
    gap: 40px;
    align-items: center;

}

.daftar a {
    font-size: 1.5625rem;
    text-decoration: none;
    color: inherit;
}

.daftar a:hover{
    color: #F2994A;
}

.btn-daftar {
    background-color: #fbb45e;
    padding: 15px 30px;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-daftar:hover{
    color: #E2A255;
}

.btn-daftar span {
    font-size: 1.5625rem;
}







.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    gap: 40px;
    padding-top: 65px;

}

.hero-left {
    display: flex;
    flex: 1;
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.hero-left p {
    color: #fbb45e;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    align-self: stretch;
}

.hero h1 {
    font-family: Poppins;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero h1 span {
    font-family: Poppins;
    color: #fbb45e;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero-left .desc.desc {
    color: #363b58;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.search-box {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 200px;
    background-color: #EBEBEE;
    border-radius: 15px;
    padding: 8px;
    width: fit-content;
    
}

.search-box input {
    display: flex;
    padding: 10px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;

}

.btn-lg {
    background: #F2994A;
    border: none;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
}



.btn-lg span:hover{
    color: #363B58;
}

.search-box button {
    background: #F2994A;
    border: none;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.hero-right {
    position: relative;
    overflow: hidden;
    max-width: 700px;
    max-height: 500px;
}

.hero-right img {

    width: 616px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 20px;
    color: white;

    border-radius: 0 0 20px 20px;

    /* gradient biar teks kebaca */
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
}

.overlay .tag {
    font-size: 12px;
    color: #fbb45e;
    font-weight: 600;
}

.overlay h3 {
    font-size: 20px;
    margin: 5px 0;
}

.overlay small {
    font-size: 13px;
    color: #ddd;
}

/* badge kanan */
.status {
    position: absolute;
    right: 20px;
    bottom: 20px;

    background: #4CAF50;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}

.kondisi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    margin-top: 85px;
    margin-bottom: 85px;
    gap: 52px;
    background-color: #363b58;
    border-radius: 15px;
    color: #D9D9D9;
}

.kondisi h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "poppins";
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-items: center;
}

.bulet {
    display: flex;
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

.material-symbols-outlined {
    font-size: 32px;
    color: #363b58;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.populer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populer-text h3 {
    font-family: Poppins;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.populer-text h3 span {
    color: #fbb45e;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #E2E8F0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);


}

.card img {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 10px;
}

.cafe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.cafe span {
    font-size: 20px;
    color: #FBB45E;
    font-weight: 400;
}

.cafe h5 {
    color: #fbb45e;
    font-size: 20px;
    font-weight: 700px;
}

.cafe p {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #363b58;
    font-size: 15px;
}

.card h4 {
    width: 100%;
    align-items: start;
    font-size: 25px;
    font-weight: 400px;
}

.loc {
    display: flex;
    width: 100%;
    gap: 5px;
    font-weight: 400;
    align-items: center;
}

.price {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.price span,
.loc span {
    font-size: 25px;
}

.btn-loc {
    display: flex;
    align-items: center;
    background-color: #363B58;
    padding: 10px 15px;
    color: #FBB45E;
    border-radius: 30px;
    width: 100%;
    gap: 10px;
    justify-content: center;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.btn-loc:hover{
    background-color: #BDBDBD;
    color: #E0C9A6;
}
.btn-loc span {
    font-size: 25px;
}

.btn-loc .material-symbols-outlined {
    color: #F2994A;
}

.rekomendasi {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    gap: 30px;
}

.rekomendasi h2 {
    color: #363b58;
    font-family: Poppins;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.rekomendasi span {
    color: #F2994A;
}

.card-rec {
    display: flex;
    align-items: center;
    max-width: fit-content;
    gap: 25px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #E2E8F0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card-rec img {
    width: 200px;
    height: 200px;

}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text h4 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 305px;
}

.btn-jelajahi {
    display: flex;
    color: #F2994A;
    background-color: #363B58;
    width: 143px;
    padding: 10px 15px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    gap: 15px;
    cursor: pointer;
}

.btn-jelajahi:hover{
    background-color: #BDBDBD;
    color: #E0C9A6;
}

.review{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    gap: 50px;
    margin-bottom: 85px;
}

.review h2{
    color: #363b58;
    font-family: Poppins;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.review span{
    color: #F2994A;
}

.user-rev {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #E2E8F0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.user-revs{
    display: flex;
    justify-content: space-between;
}


.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.top-left{
    display: flex;
    gap: 20px;
}

.top img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.top span{
    font-size: 24px;
}



.username h4 {
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 120%;

}

.username p{
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}

.user-rev p{
font-size: 25px;
font-style: italic;
font-weight: 400;
line-height: 120%;
width: 407px;
align-items: flex-start;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
}

.bottom p{
    font-style: poppins;
}

.last-hero{
    background-color: #363B58;
    display: flex;
width: 100%;
height: 490px;
padding: 20px 30px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
border-radius: 20px;
color: #fefefe;
margin-bottom: 85px;
}

.last-hero h2{
    align-self: stretch;
    text-align: center;
    font-size: 49px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.last-hero p{
    text-align: center;
    width: 794px;
    font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 120%;

}

.btn{
    display: flex;
    gap: 30px;
}


footer {
    
    background: white;
    color: #363b58;
    padding: 40px;
    width: 100%;
    height: 437px;
    gap: auto;
    align-content: center;
    
}



.footer1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}


.footer1 p{
    font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 120%;
width: 600px;
text-align: center;
align-items: center;

}

.info{
    display: flex;
    
justify-content: center;
align-items: flex-start;
gap: 25px;
}

.btn-info{
    display: flex;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 9px;
border-radius: 10px;
background-color: #FEF4E7;
border: none;
cursor: pointer;
}

.btn-info:hover{
    background-color: #e3e1df;
    color: white;
}

.hakcipta{
    width: 100%;
    text-align: center;
    color: #363B58;
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;
}

.hakcipta h2{
    font-size: 20px;
font-weight: 700;
line-height: 120%;
}

/* ================= TABLET ================= */
@media (max-width: 1024px) {

    header {
        padding: 20px 30px;
        gap: 50px;
    }

    nav {
        gap: 30px;
    }

    .hero {
        flex-direction: column;
        padding: 40px 30px;
    }

    .hero-left {
        max-width: 100%;
        gap: 25px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h1 span {
        font-size: 40px;
    }

    .hero-right img {
        width: 100%;
        height: auto;
    }

    .search-box {
        width: 100%;
        gap: 20px;
    }

    .cards {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .card img {
        width: 250px;
        height: 300px;
    }

    .user-revs {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .user-rev p {
        width: 100%;
    }

    .last-hero p {
        width: 100%;
    }

    .footer1 p {
        width: 100%;
    }
}


/* ================= MOBILE ================= */
@media (max-width: 768px) {

    @media (max-width: 768px) {

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        padding: 7px 20px;
        gap: 0;
        overflow: hidden;
        height: 60px;
        
    }


    .menu-toggle {
        display: block;
        font-size: 16px;
        margin-left: 400px;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }

    nav.active {
        display: flex;
    }

    .daftar {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
    }

    .daftar.active {
        display: flex;
    }
}

    .logo{
        gap: 5px;
    }

    .logo img{
        height: 20px;
        width: 20px;
    }

    .logo span{
        font-size: 13px;
    }

    .container {
        padding: 0 20px;
    }

    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    nav {
        display: none;
        gap: 10px;
        align-items: center;
    }

    .daftar {
        flex-direction: column;
        gap: 10px;
    }

    /* HERO */
    .hero {
        flex-direction: column;
        padding: 20px;
    }

    .hero-left{
        gap: 10px;
    }

    .hero-left h1 {
        font-size: 20px;
    }

    .hero-left h1 span {
        font-size: 20px;
    }

    .hero-left p {
        font-size: 13px;
    }

    .hero-left .desc.desc{
        font-size: 10px;
    }

    .search-box {
        gap: 10px;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        gap: 30px;
    }

    .search-box input {
        width: 100%;
        height: 100%;
        font-size: 10px;
    }


    .btn-lg {
        padding: 7px 20px;
        width: 100px;
        height: 3px ;
    }

    .btn-lg span{
        font-size: 10px;
    }

    .hero-right img{
        width: 353px ;
        height: 400px;
    }

    /* KONDISI */
    .kondisi {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .kondisi h3{
        font-size: 20px;
    }

    .bulet{
        width: 25px;
        height: 25px;

    }

    .material-symbols-outlined{
        font-size: 20px;
    }

    .text{
        gap: 5px;
    }

    .text h2{
        font-size: 16px;
    }

    .subtitle{
        font-size: 10px;
    }

    /* POPULER */

    .populer-text h3{
        font-size: 16px;
    }

    .btn-daftar span{
        font-size: 15px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 100%;
        height: 250px;
    }

    /* REKOMENDASI */

    .rekomendasi{
        margin-top: 50px;
    }
    .rekomendasi h2{
        font-size: 16px;

    }


    .card-rec {
        flex-direction: column;
        text-align: center;
        align-content: center;
        gap: 10px;
        justify-content: center;
    }

    .card-rec img {
        width: 50px;
        height: 50px;
    }

    .text h4{
        font-size: 20px;
    }

    .text p {
        width: 100%;
        font-size: 14px;
    }

    .btn-jelajahi{
        width: 100px;
        gap: 5px;
        margin-left: 30%;
    }

    /* REVIEW */

    .review{
        margin-bottom: 50px;
        gap: 30px;
    }

    .review h2{
        font-size: 16px;
    }

    .user-rev {
        width: 100%;
        gap: 20px;
    }

    .top-left{
        gap: 10px;
    }

    
    .top img{
        width: 30px;
        height: 30px;
    }

    .top span{
        font-size: 19px;
    }

    .username h4{
        font-size: 13px;
    }

    .username p{
        font-size: 10px;
    }

    .user-rev p{
        font-size: 10px;

    }

    .bottom {
        gap: 3px;
        
    }



    /* LAST HERO */
    .last-hero {
        height: 200px;
        padding: 4.432px 6.648px;
        gap: 5px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .last-hero h2 {
        font-size: 16px;
    }

    .last-hero p {
        font-size: 10px;
    }

    .btn {
        flex-direction: column;
        gap: 5px;
    }

    .btn-daftar {
        padding: 7px 20px;
    }

    .btn span{
        font-size: 10px;
    }

    /* FOOTER */

    .footer{
        height: 190px;
    }

    .footer1 p{
        font-size: 10px;
    }

    .info{
        gap: 5px;
    }

    .btn-info{
        width: 75px;
        gap: 5px;
    }
    
    .btn-info span{
        font-size: 10px;

    }
    .hakcipta h2 {
        font-size: 10px;
    }
}