* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    padding: 20px 40px; /* lebih proporsional */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    color: #363b58;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 59px;
    width: 60px;
    object-fit: contain;
}

.logo span {
    font-size: 1.9375rem;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5625rem;
    font-weight: 600;
}

.search-box {
    width: 400px;
    display: flex;
    background: transparent;
    align-items: center;
    position: relative;
}

.search-box input {
    width: 400px;
    height: 50px;
    padding: 0 20px 0 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #F1F5F9;
}

.content {
    display: grid;
    grid-template-areas: "overlay";
    min-height: 900px;
    width: 100%;
    position: relative;
}

.title {
    font-weight: bolder;
    font-size: 60px;
}

.smol-cat {
    max-width: 80%;
    font-weight: 600;
    margin-top: -20px;
    font-size: 35px;
    text-align: left;
}

.details {
    max-width: 80%;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

.facility {
    margin-top: 30px;
    font-weight: 500;
    font-size: 19px;
    text-align: left;
}

.place-loc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 19px;
    text-align: left;
}

.open-time {
    margin-top: 20px;
    font-weight: 500;
    font-size: 19px;
    text-align: left;
}

#weekend {
    margin-left: 55px;
}

.wima-btn {
    position: absolute;
    top: 70px;
    right: 30px;
    display: flex;
    gap: 15px;
    z-index: 20;
}

.btn-wishlist {
    display: flex;
    background-color: #D9D9D9;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.btn-wishlist span {
    padding: 6px;
}

.btn-maps {
    display: flex;
    background-color: #D9D9D9;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.btn-maps span {
    padding: 6px;
}

.text-wrapper {
    grid-area: overlay;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 80px 100px;
    justify-content: flex-start;
    color: white;
    pointer-events: none;
    gap: 10px;
}

.hero-placedet {
    grid-area: overlay;
    width: 100%;
    height: 100%;
}

.hero-placedet img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    display: block;
}

.gallery {
    margin-top: -100px;
    padding-left: 100px;
}

.gallery p {
    font-weight: 700;
    font-size: 60px;
}

.smol-info {
    display: flex;
    gap: 10px;
}

.smol-info button {
    background: #FBB45E;
    border-radius: 15px;
    border: none;
    width: 180px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 23px;
}

.gal-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding-right: 100px;
}

.gal-img-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.review {
    padding: 20px;
}

.rev-title {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
    box-sizing: border-box;
}

.rev-left-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#rev-t {
    font-size: 60px;
    font-weight: 700;
}

#rev-sum {
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    white-space: nowrap;
}

.btn-review {
    background-color: #F4A64C;
    color: #363b58;
    width: 400px;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 590px;
}

        .overlay {

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(0, 0, 0, 0.5);
            /* gelapin */

            display: none;
            /* awalnya hidden */
            justify-content: center;
            align-items: center;

            z-index: 999;
        }

        .close {
            width: fit-content;
            background-color: transparent;
            border: none;
            font-size: 1rem;
        }

         .modal {
            padding: 1.875rem 2.5rem;
            background-color: #FAFAFA;
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
            padding: 20px;
            border-radius: 10px;
            width: 400px;
            position: relative;
        }

        .modal-up {
            display: flex;
            background-color: #fff;
            border-radius: 10px;
            justify-content: space-between;
            padding: 1rem 1.2rem;
            align-items: center;
            gap: 1.5rem;
            width: fit-content;
        }

        .modal-up img {
            width: 9rem;
            height: 7rem;
            border-radius: 10px;
        }

        .modal-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;
        }

        .modal-text h3 {
            font-family: Poppins;
            font-size: 1rem;
            font-weight: 600;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .modal-text p {
            font-size: 0.8rem;
            font-weight: 500;
            margin: 0;
        }

        .star {
            width: 100%;
            font-size: 1rem;
            margin: 0;
            text-align: center;
            letter-spacing: 70%;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .form textarea {
            height: 100px;
        }

        /* tombol close */
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        /* tombol submit */
        .submit {
            width: 100%;
            padding: 10px;
            background: orange;
            border: none;
            cursor: pointer;
        }

.rev-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
}

.review-card {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    background: white;
    border-radius: 20px;
    border: 2px solid #E2E8F0;
    padding: 40px;
    width: 800px;
    height: auto;
}

.rev-prof {
    grid-column: 1;
}

.rev-prof img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.rev-cont {
    grid-column: 2;
    margin-left: 20px;
}

#usn-rev {
    font-size: 35px;
    font-weight: 600;
    display: block;
}

#date-turn {
    font-size: 24px;
    color: #666;
}

.rev-stars {
    grid-column: 3;
    justify-self: end;
    font-size: 30px;
    color: #F5A623;
}

.rev-text {
    grid-column: 1 / span 3; 
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    font-style: italic;
    line-height: 1.5;
    border-bottom: 1px solid #E2E8F0;
}

.loc-rev {
    grid-column: 1 / span 3;
    margin-top: 20px;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.show-more-comments {
    background-color: #F5A623;
    margin: 100px auto;
    width: 1000px;
    max-width: 90%;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more-comments span {
    font-size: 25px;
    font-weight: 600;
    padding-left: 0;
}

.f-logo {
    display: flex;
    color: #363b58;
    align-items: center;
    gap: 10px;
}

.f-logo img {
    height: 59px;
    width: 60px;
    object-fit: contain;
}

.f-logo span {
    font-size: 1.9375rem;
    font-weight: 700;
}

.f-contain {
    padding-top: 100px;
    padding-bottom: 50px; 
    background-color: white;
    border: 4px solid #E2E8F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.f-text {
    margin-top: 15px;
    max-width: 750px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.copyright {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}

.contacts {
    display: flex;
    gap: 12px;
}

.contacts div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 70px;
    align-items: center;
    gap: 15px;
    padding: 10px 18px;
    background-color: #FEF4E7;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.contacts div:hover {
    background-color: #e0d5c8;
}

.contacts svg {
    width: 18px;
    height: 18px;
    fill: #333;
}

.contacts span {
    font-size: 17px;
    color: #333;
    font-weight: 500;
}

.header-center{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    min-width: 0;
    overflow: hidden;
}

.header-left{
    flex-shrink: 0 0 auto;
}

.header-right{
    flex-shrink: 0;
}

.logo {
    display: flex;
    color: #363b58;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 59px;
    width: 60px;
    object-fit: contain;
}

.logo span {
    font-size: 1.9375rem;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-shrink: 1;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5625rem;
    font-weight: 600;
    padding-bottom: 5px;
}

nav a:hover{
    color: #FBB45E;
    border-bottom: 4px solid #FBB45E;
    transition: .2s ease;
}

.daftar {
    display: flex;
    gap: 40px;
    align-items: center;

}

.daftar a {
    font-size: 1.5625rem;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.btn-daftar {
    background-color: #fbb45e;
    padding: 15px 30px;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 600;
}

.btn-daftar span {
    font-size: 1.5625rem;
}

.btn-lg{
    background: #F2994A;
    border: none;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: larger;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    gap: 40px;
    padding-top: 65px;

}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.hero-left p {
    color: #fbb45e;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    align-self: stretch;
}

.hero h1 {
    font-family: Poppins;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero h1 span {
    font-family: Poppins;
    color: #fbb45e;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero-left .desc.desc {
    color: #363b58;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.search-box {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 200px;
    background-color: #EBEBEE;
    border-radius: 15px;
    padding: 8px;
    width: fit-content;
}

.search-box input {
    display: flex;
    padding: 10px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 600;
}

.hero-right {
    width: 736px;
    height: 985px;
    aspect-ratio: 65/87;
}

/* ================== Filter Page ==================*/

.homepage-main{
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow: hidden;
}

.search-bar{
    display: flex;
    width: fit-content;
    /* max-width: 550px; */
    padding: 15px 20px;
    align-items: center;
    gap: 22px;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    background:#F1F5F9;
}

.search-bar input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.search-bar input:focus{
    outline: none;
    background: transparent;
    color: #363B58;
}

.filter-btn{
    display: none;
}

.user-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-profile p{
    color: #363B58;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.user-profile img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.filter-container, 
.setelan-akun,
.admin-panel{
    background-color: white;
    border-right: 1px solid #D9D9D9;
    padding: 30px;
}

.filter-head{
    display: flex;
    align-items: center;
    gap: 50%;
    margin-bottom: 15px;
}

.filter-head h2{
    color: #363B58;
    font-weight: 700;
    font-size: 31px;
}

.filter-head h3, 
.filter-jarak .jarak{
    color: #FBB45E;
    font-weight: 600;
}

.filter-kategori>p, 
.filter-jarak>p,
.filter-budget>p,
.filter-rating>p,
.range-header>p{
    margin-bottom: 10px;
    color: #C1C2CB;
    font-weight: 700;
    font-size: 20px;
}

.kategori-btn{
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #363B58;
    background-color: white;
    padding: 20px;
    align-items: center;
    gap: 19px;
    width: 320px;
    height: 65px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.kategori-btn a{
    text-decoration: none;
    color: inherit;
}

.kategori-btn.active{
    color: #FBB45E;
    background-color: #FEF4E7;
}

.kategori-btn:hover{
    color: #E2A255;
}

.kategori-btn.active:hover{
    background-color: #FEE8CD;
    color: #FBB45E;
}

.material-symbols-outlined{
    font-size: 35px;
}

.filter-jarak{
    width:300px;
    margin-bottom: 15px;
}

.range-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:12px;
}

.label{
    color:#b5b5b5;
    font-weight:700;
    letter-spacing:1px;
}

.value{
    color:#f4a042;
    font-weight:700;
}

/* slider track */
.slider{
    -webkit-appearance:none;
    width:100%;
    height:6px;
    border-radius:5px;
    background:#cfd3d6;
    outline:none;
}

/* slider thumb */
.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance:none;
    width:22px;
    height:22px;
    border-radius:50%;
    background:#f4a042;
    cursor:pointer;
    border:none;
}

.slider::-moz-range-thumb{
    width:22px;
    height:22px;
    border-radius:50%;
    background:#f4a042;
    cursor:pointer;
    border:none;
}

.filter-budget{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.checkbox-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.checkbox-item label{
    color: #363B58;
    font-weight: 500;
    font-size: 20px;
}

input[type="checkbox"]{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fcfcfc;
    border-radius: .25rem;
    appearance: none;
    border: 1px solid #DDD;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    background-color: #FBB45E;
    border: none;
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 8px;
    width: 5px;
    height: 13px;
    border: 3px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked::before{
    border-color: #fff;
    animation: checkAnim .2s;
}

@keyframes checkAnim {
    from{
        transform: rotate(45deg) scale(0);
    }
}

.filter-rating{
    display: flex;
    flex-direction: column;
}

.btn-md{
    max-width: 300px;
    padding: 15px 30px;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
    background: #FBB45E;
    border: none;
    color: #363B58;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    white-space: nowrap;
}

.btn-md:hover,
.btn-sm:hover,
.btn-lg:hover{
    background-color: #E2A255;
    color: #363B58;
}

.btn-md:active,
.btn-sm:active{
    background-color: #FEE8CD;
}

.list-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.content-popular{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-header{
    position: relative;
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
}

.content-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to top,
        rgba(54, 59, 88, 1) 0%, 
        rgba(54, 59, 88, 0) 100% 
    );

    z-index: 1;
}

.content-header img{
    display: block;
    width: 1170px;
    height: 319px;
    object-fit: cover;
    object-position: 0px -350px;
}

.content-header h2{
    color: #fff;
    font-weight: 700;
    font-size: 31px;
    line-height: 120%;
}

.content-mood{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #363B58;
    background-color: #FBB45E;
    padding: 7px 15px;
    gap: 10px;
    width: 300px;
    border-radius: 100px;
    font-weight: 700;
}

.content-desc{
    color: #fff;
    font-weight: 400;
    line-height: 120%;
}

.btn-sm{
    display: flex;
    width: 270px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FBB45E;
    border: none;
    color: #363B58;
    margin-top: 20px;
}

.btn-sm p{
    font-size: 20px;
    font-weight: 600;
}

.btn-sm span{
    font-size: 30px;
}

.header-text {
    position: absolute;
    top: 60%;
    left: 50px;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 2; /* di atas gradient */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-header h1,
.aktivitas-terakhir h2,
.ulasan-saya h2,
.admin-header h1{
    color: #31354F;
    font-weight: 800;
    font-size: 39px;
}

.popular-header span,
.aktivitas-terakhir h2 span,
.ulasan-saya h2 span,
.admin-header h1 span{
    color: #fbb45e;
}

.popular-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #E2E8F0;
    min-width: 250px;
}

.card img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
}

.cafe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.cafe span{
    font-size: 20px;
    color: #FBB45E;
    font-weight: 400;
}

.cafe h5{
    color: #fbb45e;
    font-size: 20px;
    font-weight: 700;
}

.cafe p{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #363b58;
    font-size: 15px;
}

.card h4{
    width: 100%;
    align-items: start;
    font-size: 25px; 
    font-weight: 600;  
}

.loc{
    display: flex;
    width: 100%;
    gap: 5px;
    font-weight: 400;
    align-items: center;
}

.price{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.price span,
.loc span{
    font-size: 25px;
}

.btn-loc {
    display: flex;
    align-items: center;
    background-color: #363B58;
    padding: 10px 15px;
    color: #FBB45E;
    border-radius: 30px;
    width: 100%;
    gap: 10px;
    justify-content: center;
    font-weight: 600;
    margin-top: 10px;
}

.btn-loc span{
    font-size: 25px;
}

.menu-icon{
    display: none;
}

.setelan-akun h2,
.admin-panel h2{
    margin-bottom: 15px;
}

.logout{
    color: red;
    border-top: 1px solid #D9D9D9;
}

.profile-content{
    margin-top: 20px;
}

.profile-info{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 40px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    max-width: 1400px;
    width: 100%;
}

.info-left{
    display: flex;
    gap: 30px;
    text-align: center;
}

.profile-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #363B58;
    text-align: left;
}

.profile-text h2{
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
}

.profile-text h3{
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
}

.profile-text p{
    font-size: 20px;
}

.profile-img{
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile-img img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.editImg-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-70%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBB45E;
    border-radius: 100%;
}

.editImg-btn span{
    font-size: 25px;
}

.count-container{
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.activity-count h3{
    text-align: center;
    color: #FBB45E;
    font-size: 31px;
    font-weight: 700;
}

.activity-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow: auto;
}

.activity-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    background-color: #fff;
    padding: 15px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.activity-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-isi{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.activity-isi img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.activity-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating{
    display: flex;
    gap: 5px;
    flex-shrink: 0;
}

.rating span{
    color: #fbb45e;
    font-size: 20px;
}

.left-tag{
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
}

.review-icon span{
    display: flex;
    color: #363B58;
    background-color: #FBB45E;
    padding: 8px;
    font-size: 20px;
    border-radius: 100%;
}

.saved-icon span{
    display: flex;
    color: #FBB45E;
    background-color: #363B58;
    padding: 8px;
    font-size: 20px;
    border-radius: 100%;
}

.user-rev {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #E2E8F0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.user-revs{
    display: flex;
    gap: 15px;
    overflow: auto;
}


.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.top-left{
    display: flex;
    gap: 20px;
    min-width: 0;
}

.top img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.top span{
    font-size: 24px;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.user-rev p{
    /* font-size: 25px; */
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    width: 100%;
    align-items: flex-start;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    padding-top: 10px;
    border-top: 1px solid #D9D9D9;
    width: 100%;
}

.bottom span{
    color: #FBB45E;
}

.aktivitas-terakhir h2, 
.ulasan-saya h2{
    margin: 10px 0px;
}

.admin-nav{
    display: none;
}

.dashboard-count{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboard-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.count-card{
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    width: 260px;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.count-card p,
.count-card h2{
    z-index: 2;
}

.decoration-icon{
    position: absolute;
    bottom: -40px;
    right: -40px;

    font-size: 200px;
    color: #F1F5F9;
    z-index: 0;
}

.action-desc{
    font-weight: 800;
    color: #FBB45E;
}

.count-card h2{
    font-size: 40px;
    color: #363B58;
}

.action-title{
    display: flex;
    color: #363B58;
    align-items: center;
}

.action-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.action-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    /* max-width: 350px; */
    width: 100%;
    color: #363B58;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.action-btn:hover{
    background-color: #FEF4E7;
    border: 1px solid #E2A255;
    transition: 0.2s ease;
}

.action-icon{
    display: flex;
    align-items: center;
    background-color: #FBB45E;
    color: #363B58;
    padding: 5px;
    border-radius: 100%;
}

.action-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-text h4{
    font-size: 20px;
}

.admin-main{
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* overflow: hidden; */
    padding-right: 20px;
}

.button-action{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.ulasan-count{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ulasan-count-card{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: #E2E8F0;
    border-radius: 10px;
    justify-content: space-between;
    width: 162px;
    height: 130px;
}

.ulasan-count-card p{
    font-weight: 700;
}

.ulasan-count-card h2{
    font-size: 32px;
}

.merah{
    background-color: #FFE2E2;
    color: red;
}

.simpan-btn, .hapus-btn{
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
}

.simpan-btn{
    background-color: #F1F5F9;
    border: 1px solid #D9D9D9;
    color: #363B58;
}

.hapus-btn{
    background-color: red;
    color: white;
}

.location-tanggal{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lokasi{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lokasi span{
    color: #fbb45e;
    font-size: 20px;
}

.ulasan-tinjau{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tinjau-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px 30px;
    border: 1px solid red;
    border-radius: 20px;
    max-width: 1200px;
    width: 100%;
}

.deskripsi-ulasan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFE2E2;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.ulasan-label{
    display: flex;
    color: red;
    font-weight: 700;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.ulasan-label span{
    font-size: 20px;
}

.lokasi-header{
    display: flex;
    justify-content: space-between;
}

.table-container{
    width: 100%;
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.location-table{
    width: 100%;
    border-collapse: collapse;
}

.location-table thead th{
    text-align: left;
    font-size: 14px;
    color: #777;
    padding: 0px 20px 15px 20px;
}

.location-table tbody tr{
    border-top: 1px solid #eee;
    padding: 0px 20px 15px 20px;
}

.location-table td{
    padding: 18px 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.lokasi-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lokasi-img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.kategori{
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

.kategori.cafe{
    background: #f5e6d3;
    color: #c78332;
}

.alamat{
    color: #555;
}

.actions{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.actions span{
    cursor: pointer;
    font-size: 20px;
}

.edit{
    color: #444;
}

.delete{
    color: #e53935;
}

.table-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination span{
    cursor: pointer;
    font-size: 22px;
    margin-left: 10px;
}

.list-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mood-list {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  gap: 20px;
}

.mood-card { 
    display: flex; 
    align-items: center; 
    gap: 20px; 
    width: 420px; 
    height: 180px; 
    background: white; 
    padding: 20px; 
    border-radius: 20px; 
    border: 1px solid #eee; 
    cursor: pointer; 
    transition: 0.3s; 
}

.mood-card img { 
    width: 100px; 
} 

.mood-card h3{ 
    font-size: 25px; 
    font-weight:800; 
} 

.mood-card p{ 
    width: 250px; 
    font-size: 13px; 
} 

.mood-card.active { 
    border: 2px solid #F59E0B;  
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  nav a {
    font-size: 14px;
  }

  .search-box {
    width: 100%;
  }

  .profile-img {
    width: 45px;
    height: 45px;
  }

  .content {
    min-height: auto;
  }

  .hero-placedet img {
    height: 400px;
  }

  .text-wrapper {
    padding: 20px;
    gap: 10px;
  }

  .title {
    font-size: 28px;
  }

  .smol-cat {
    font-size: 16px;
  }

  .details {
    font-size: 14px;
  }

  .facility,
  .place-loc,
  .open-time {
    font-size: 14px;
  }

  .wima-btn {
    flex-direction: column;
    top: 20px;
    right: 20px;
  }

  .gallery {
    padding: 20px;
  }

  .gallery p {
    font-size: 30px;
  }

  .smol-info button {
    width: auto;
    font-size: 16px;
    padding: 5px 10px;
  }

  .gal-img-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-right: 0;
  }

  .gal-img-container img {
    height: 250px;
  }

  #rev-t {
    font-size: 30px;
    padding-left: 20px;
  }

  #rev-sum {
    font-size: 16px;
    padding-left: 20px;
  }

  .review-card {
    padding: 20px;
  }

  .rev-prof img {
    width: 60px;
    height: 60px;
  }

  #usn-rev {
    font-size: 20px;
  }

  #date-turn {
    font-size: 14px;
  }

  .rev-text {
    font-size: 16px;
  }

  .loc-rev {
    font-size: 14px;
  }

  .show-more-comments {
    height: 40px;
  }

  .show-more-comments span {
    font-size: 16px;
  }

  .f-text {
    font-size: 18px;
    padding: 0 20px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px){
    nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo right" "search search" "nav nav";
        align-items: center;
        gap: 15px;
        padding: 20px;
        box-sizing: border-box;
    }

    .header-right{
        grid-area: logo;
    }

    .header-right{
        grid-area: right;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }

    .header-center{
        display: contents;
    }

    .menu-icon{
        display: block;
        color: #363B58;
        font-size: 30px;
    }

    .logo img{
        width: 25px;
    }

    nav{
        padding: 0;
    }

    .topnav.responsive .nav-menu{
        display: flex;
        flex-direction: column;
    }

    .nav-menu{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        display: none;
    }

    .nav-menu a{
        width: 100%;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid #E2E8F0;
        font-size: 16px;
    }

    .nav-menu a:hover{
        border: 0;
    }

    .search-bar{
        grid-area: search;
        width: 100%;
        height: 50px;
    }

    .filter-container{
        display: none;
    }

    .search-bar input{
        font-size: 13px;
    }

    .search-bar span{
        font-size: 20px;
    }

    .filter-btn{
        display: block;
        margin-left: auto;
        background-color: #C1C2CB;
        color: #363B58;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 5px;
    }

    .user-profile img{
        width: 35px;
        height: 35px;
    }

    .homepage-main{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-container{
        order: 1;
        flex: 1;
        margin-top: 0;
        width: 100%;
        overflow: hidden;
    }

    .content-header{
        width: 100%;
    }

    .header-text{
        transform: translateY(-60%) translateX(-5%);
    }
    
    .content-desc{
        font-size: 13px;
    }

    .content-mood{
        padding: 3px 10px;
        font-size: 13px;
        width: 230px;
    }

    .popular-list{
        overflow: auto;
    }

    .popular-header h1,
    .aktivitas-terakhir h2,
    .ulasan-saya h2,
    .admin-header h1{
        font-size: 20px;
    }

    .popular-header p,
    .admin-header p{
        font-size: 13px;
    }

    .card{
        padding: 12px 10px;
        border-radius: 20px;
    }

    .card img{
        width: 200px;
        height: 150px;
        border-radius: 10px;
    }

    .card h4{
        font-size: 16px;
        font-weight: 800;
    }

    .cafe h5{
        font-size: 13px;
    }

    .loc>p, 
    .price>p,
    .cafe>p{
        font-size: 13px;
    }

    .loc>span,
    .price>span{
        font-size: 20px;
    }

    .filter-container{
        /* order: -1; */
        display: none;
        width: 100%;
        background: white;
    }

    .filter-open .filter-container{
        display: block;
    }

    .filter-head{
        gap: 70%;
    }

    .filter-head h2{
        font-size: 16px;
    }

    .filter-head h3{
        font-size: 13px;
    }

    .filter-container p{
        font-size: 13px;
    }

    .filter-container span{
        font-size: 25px;
    }

    .kategori-btn, .active{
        padding: 10px;
        height: auto;
    }

    .range-header span{
        font-size: 13px;
    }

    .checkbox-item label{
        font-size: 13px;
    }

    .btn-md{
        font-size: 16px;
        padding: 10px 20px;
    }

    .profile-info{
        flex-direction: column;
        gap: 5px;
    }

    .info-left{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .profile-img{
        margin: 0 auto;
    }

    .profile-img img{
        width: 100px;
        height: 100px;
    }

    .editImg-btn{
        width: 30px;
        height: 30px;

        transform: translate(25%, 25%);
    }

    .editImg-btn span{
        font-size: 20px;
    }

    .profile-text{
        text-align: center;
    }

    .profile-text h2{
        font-size: 20px;
    }

    .profile-text h3{
        font-size: 16px;
    }

    .profile-text p{
        font-size: 13px;
    }

    .count-container{
        justify-content: center;
    }

    .activity-container{
        display: flex;
        flex-direction: column;
    }
    
    .activity-card{
        display: grid;
        grid-template-areas:
            "img tag"
            "img title"
            "img time";
        grid-template-columns: auto 1fr;
        gap: 8px 12px;
        align-items: center;
        width: 100%;
    }

    .activity-isi{
        display: contents;
    }

    .activity-details{
        display: contents;
    }

    .activity-isi img{
        grid-area: img;
        width: 70px;
        height: 70px;
    }

    .activity-tag{
        display: contents;
    }

    .activity-details h3{
        grid-area: title;
        font-size: 16px;
        font-weight: 800;
    }

    .right-tag{
        grid-area: time;
        font-size: 12px;
        color: #999;
    }

    .activity-details .rating{
        grid-area: title;
        justify-self: end;
    }

    .activity-details p{
        display: none;
    }

    .saved-icon span, .review-icon span{
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }

    .setelan-akun{
        display: flex;
        flex-direction: column;
        order: 2;
        align-items: center;
    }

    .profile-content{
        order: 1;
    }

    .admin-main{
        flex-direction: column;
        padding: 20px;
    }

    .admin-panel{
        display: none;
    }

    .count-card{
        max-height: 220px;
        height: 100%;
        padding: 25px;
    }

    .count-card p{
        font-size: 13px;
    }

    .count-card h2{
        font-size: 26px;
    }

    .decoration-icon{
        font-size: 150px;
    }

    .action-container{
        flex-direction: column;
        gap: 10px;
    }

    .action-btn{
        gap: 20px;
        padding: 15px;
    }

    .action-text h4{
        font-size: 16px;
    }

    .action-text p{
        font-size: 13px;
    }

    .ulasan-count{
        flex-wrap: wrap;
    }
    
    .ulasan-count-card{
        padding: 10px 15px;
    }

    .ulasan-count-card p{
        font-size: 13px;
    }

    .location-tanggal{
        flex-direction: column;
        gap: 0;
        align-items: start;
    }

    .location-tanggal p{
        font-size: 13px;
    }

    .deskripsi-ulasan p{
        font-size: 13px;
    }

    .simpan-btn, .hapus-btn{
        font-size: 13px;
    }

    .tinjau-card .top .rating span{
        font-size: 12px;
    }

    .tinjau-card .top .rating{
        gap: 0;
    }

    .location-table th:nth-child(4), .alamat{
        display: none;
    }

    .location-table tbody tr{
        padding: 0px 10px 5px 10px;
    }

    .location-table td{
        padding: 8px 10px;
        font-size: 13px;
    }

    .table-img img{
        width: 40px;
        height: 40px;
    }

    .lokasi-header{
        flex-direction: column;
    }

    .mood-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .mood-card {    
    display: flex;
    flex-direction: column; /* atas ke bawah */
    align-items: center; /* tengah horizontal */
    text-align: center;

    width: 200px; 
    height: 190px; 
    }

    .mood-card img { 
        width: 60px; 
        margin: 0;
        
    } 

    .mood-card h3{ 
        font-size: 20px; 
        font-weight:800;
        /* margin: 0;  */
    } 

    .mood-card p{ 
        width: auto; 
        font-size: 10px; 
    } 

    .mood-card.active { 
        border: 2px solid #F59E0B; 
    }
}

@media screen and (max-width:1300px) {
    .logo img{
        width: 40px;
    }

    .logo span{
        font-size: 20px;
    }

    .nav-menu a{
        font-size: 16px;
        gap: 5px;
    }

    .user-profile p{
        display: none;
    }
}