* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body {
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 65px;
    gap: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-shrink: 1;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5625rem;
    font-weight: 600;
    padding-bottom: 5px;
}

nav a:hover{
    color: #FBB45E;
    border-bottom: 4px solid #FBB45E;
    transition: .2s ease;
}

.homepage-main{
    flex-direction: row;
    gap: 40px;
    overflow: hidden;
}

.header-left{
    flex-shrink: 0 0 auto;
}

.logo {
    display: flex;
    color: #363b58;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 59px;
    width: 60px;
    object-fit: contain;
}

.logo span {
    font-size: 1.9375rem;
    font-weight: 700;
}

.header-center{
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
    justify-content: space-between;
    min-width: 0;
    overflow: hidden;
}

.search-bar{
    display: flex;
    width: 100%;
    max-width: 550px;
    padding: 15px 20px;
    align-items: center;
    gap: 22px;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    background:#F1F5F9;
}

.search-bar input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.search-bar input:focus{
    outline: none;
    background: transparent;
    color: #363B58;
}

.material-symbols-outlined.menu-icon{
    display: none;
}

.material-symbols-outlined{
    font-size: 35px;
}

.header-right{
    flex-shrink: 0;
}

.user-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-profile p{
    color: #363B58;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.user-profile img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.list-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-popular{
    display: flex;
    gap: 30px;
    margin-left: 60px;
    margin-right: 60px;
}


.popular-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-populer{
    display: flex;
    gap: 200px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.popular-header h1{
    color: #31354F;
    font-weight: 800;
    font-size: 39px;
}

.popular-header span{
    color: #fbb45e;
}

.btn-select{
    display: flex;
    align-items: center;
    background-color: #fbb45e;
    padding: 10px 20px;
    color: #363B58;
    border-radius: 30px;
    width: 10%;
    gap: 10px;
    font-weight: 600;
}

.btn-select span{
    font-size: 25px;
}


.large-icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
    width: 100%;
}

.large-icon .cafe h5{
    font-size: 25px;
}

.large-icon .cafe p{
    font-size: 25px;
}

.large-icon .loc p{
    font-size: 25px;
}

.large-icon .price p{
    font-size: 25px;
}

.large-card h4{
    font-size: 30px;
}

.large-icon .btn-loc{
    font-size: 20px;
    padding: 15px 20px;
}

.large-card{
    display: flex;
    height: auto;
    width: 873px;
    height: 600px;
    padding: 20px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #fff;
    border: 1px solid #E2E8F0;
}

.content-bawah{
    display: flex;
    justify-content: space-between;
}

.content-bawah .card{
    margin: 20px 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    gap: 20px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #E2E8F0;
}

.card img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.large-card img{
    width: 600px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
   
}

.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cafe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.cafe span{
    font-size: 20px;
    color: #FBB45E;
    font-weight: 400;
}

.cafe h5{
    color: #fbb45e;
    font-size: 20px;
    font-weight: 700;
}

.cafe p{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #363b58;
    font-size: 15px;
}

.card h4{
    width: 100%;
    align-items: start;
    font-size: 25px; 
    font-weight: 600;  
}

.loc{
    display: flex;
    width: 100%;
    gap: 5px;
    font-weight: 400;
    align-items: center;
}

.price{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.price span,
.loc span{
    font-size: 25px;
}

.btn-loc {
    display: flex;
    align-items: center;
    background-color: #363B58;
    padding: 10px 15px;
    color: #FBB45E;
    border-radius: 30px;
    width: 100%;
    gap: 10px;
    justify-content: center;
    font-weight: 600;
    margin-top: 10px;
}

.btn-loc span{
    font-size: 25px;
}

@media screen and (max-width: 600px){
    .content-bawah{
        overflow: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo right" "search search" "nav nav";
        align-items: center;
        gap: 15px;
        padding: 20px;
        box-sizing: border-box;
    }

    .header-right{
        grid-area: logo;
    }

    .header-right{
        grid-area: right;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }

    .header-center{
        display: contents;
    }

    .menu-icon{
        display: block;
        color: #363B58;
        font-size: 30px;
    }

    .logo span{
        font-size: 20px;
    }

    .logo img{
        width: 25px;
    }

    nav{
        padding: 0;
    }

    .topnav.responsive .nav-menu{
        display: flex;
        flex-direction: column;
    }

    .nav-menu{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        display: none;
    }

    .nav-menu a{
        width: 100%;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid #E2E8F0;
        font-size: 16px;
    }

    .nav-menu a:hover{
        border: 0;
    }

    .nav-menu a.active {
    color: #FBB45E;
    border-bottom: 4px solid #FBB45E;
}
    .search-bar{
        grid-area: search;
        width: 100%;
        height: 50px;
    }

    .search-bar input{
        font-size: 13px;
    }

    .search-bar span{
        font-size: 20px;
    }

    .user-profile img{
        width: 35px;
        height: 35px;
    }

    .user-profile p{
        display: none;
    }

    .homepage-main{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-container{
        order: 1;
        margin-top: 0;
        width: 100%;
        overflow: hidden;
    }

    .content-popular{
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    }

    .content-populer{
        gap: 10px;
    }
    
    .popular-header h1{
        font-size: 20px;
    }

    .popular-header p{
        font-size: 12px;
    }

    .large-card{
        flex-direction: column;
    }

    .large-card img{
        width: 270px;
        height: 170px;
    }

   .card{
    width: 300px;
    height: 200px;
   }

    .large-card h4{
        font-size: 15px;
    }

    .large-icon .cafe h5{
    font-size: 15px;
}

.large-icon .cafe p{
    font-size: 15px;
}

.large-icon .loc p{
    font-size: 15px;
}

.large-icon .price p{
    font-size: 15px;
}

    .btn-select{
        margin: 0;
        padding: 10px 15px;
        width: 150px;
    }

    .btn-select span{
        font-size: 20px;
    }
    .card{
        width: 150px;
        height: 200px;
        padding: 12px 10px;
        border-radius: 20px;
    }

    .card img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .card h4{
        font-size: 16px;
        font-weight: 800;
    }

    .cafe h5{
        font-size: 13px;
    }

    .loc>p, 
    .price>p,
    .cafe>p{
        font-size: 13px;
    }

    .loc>span,
    .price>span{
        font-size: 20px;
    }

    .material-symbols-outlined.menu-icon{
        display:block;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px){

    nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo right" "search search" "nav nav";
        align-items: center;
        gap: 15px;
        padding: 20px;
        box-sizing: border-box;
    }

    .header-right{
        grid-area: logo;
    }

    .header-right{
        grid-area: right;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }

    .header-center{
        display: contents;
    }

    .menu-icon{
        display: block;
        color: #363B58;
        font-size: 30px;
    }

    .logo span{
        font-size: 20px;
    }

    .logo img{
        width: 25px;
    }

    nav{
        padding: 0;
    }

    .material-symbols-outlined.menu-icon{
        display: block;
    }

    .topnav.responsive .nav-menu{
        display: flex;
        flex-direction: column;
    }

    .nav-menu{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        display: none;
    }

    .nav-menu a{
        width: 100%;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid #E2E8F0;
        font-size: 16px;
    }

    .nav-menu a:hover{
        border: 0;
    }

    .search-bar{
        grid-area: search;
        width: 100%;
        height: 50px;
    }

    .search-bar input{
        font-size: 13px;
    }

    .search-bar span{
        font-size: 20px;
    }

    .btn-select{
        margin: 0;
        padding: 5px 10px;
        width: 150px;
        gap: 10px;
    }

    .btn-select span{
        font-size: 20px;
    }

    .popular-header h1{
        font-size: 40px;
    }

    .content-populer{
        gap: 60px;
    }

    .popular-header p{
        font-size: 15px;
    }

    .card{
        padding: 12px 10px;
        border-radius: 20px;
    }

    .card img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    .card h4{
        font-size: 16px;
        font-weight: 800;
    }

    .content-bawah{
        overflow: auto;
    }

    .large-card{
        flex-direction: column;
    }

    .large-card img{
        width: 200px;
        height: 200px;
    }

    .large-card h4{
        font-size: 20px;
    }

    .large-icon .cafe h5{
    font-size: 20px;
}

.large-icon .cafe p{
    font-size: 20px;
}

.large-icon .loc p{
    font-size: 20px;
}

.large-icon .price p{
    font-size: 20px;
}

}
